html, body {
    position: relative;
    display: block;
    top: 0px;
    left: 0px;
    margin: 0px;
    text-align: left;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-size: 12px;
    background-color: #1c1726;
    color: #bfb6d2;
    box-sizing: border-box;
    outline: 0px;
}

html {
    width: 232px;
    padding: 0px;
    border-color: #4a3e65;
    border-style: solid;
    border-width: 1px;
    overflow-x: hidden;
}

body {
    padding: 15px;
    width: 230px;
    overflow-x: hidden;
}

table {
    width: 100%;
    border-style: none;
    vertical-align: middle;
    border-collapse: collapse;
}
th {
    font-weight: bold;
}

th, td, .row {
    padding: 4px;
}

.right, th:last-child, td:last-child {
    text-align: right;
}
.justify {
    text-align: justify;
}

hr {
    border-style: none;
    border-top: 1px solid #4a3e65;
}

h1 {
    font-size: 14px;
    color: #ebebec;
}
    h1 > img {
        vertical-align: middle;
        margin-right: 8px;
    }

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 34px;
    height: 18px;
    display: inline-block;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    background-color: #1c1726;
    transition: background-color ease 0.3s;
    border-style: solid;
    border-color: #fa1e4e;
    border-width: 1px;
    box-sizing: border-box;
    margin: 0px;
}

    input[type="checkbox"]:before {
        content: "";
        display: block;
        position: absolute;
        z-index: 2;
        width: 14px;
        height: 14px;
        background: #fff;
        left: 1px;
        top: 1px;
        border-radius: 50%;
        text-shadow: -1px -1px rgba(0,0,0,0.15);
        white-space: nowrap;
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
    }

    input[type="checkbox"]:checked {
        background-color: #50162b;
    }

        input[type="checkbox"]:checked:before {
            left: 16px;
        }


    input[type="checkbox"]:disabled {
        border-color: #4a3e65;
        background-color: #251f33;
    }

button, a.button {
    display: inline-block;
    box-sizing: border-box;
    background-color: #251f33;
    border-style: solid;
    border-width: 1px;
    border-color: #4a3e65;
    padding: 4px 12px;
    color: #ebebec;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 13px;
}

    button:hover, a.button:hover {
        background-color: #2e273f;
    }

    a.button.coffe {
        border-color: #fa1e4e;
        background-color: rgba(250, 30, 78, 0.9);
    }

        a.button.coffe:hover {
            background-color: #fa1e4e;
        }

select {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border-style: none;
    border-width: 0px;
    background-color: #251f33;
    background-image: url("data:image/svg+xml;utf8,<svg height='24' fill='%23bfb6d2' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 2px;
    padding: 6px 8px;
    box-sizing: border-box;
    border-radius: 4px;
    color: #ebebec;
    outline-style: none;
    font-size: 13px;
}
    select:active, select:focus {
        outline-color: #4a3e65;
        outline-width: 1px;
        outline-style: solid;
    }
