html, body {
    position: relative;
    outline: 0px;
    margin: 0px;
    text-align: center;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-size: 14px;
    background-color: #1c1726;
    color: #bfb6d2;
    height: 100%;
    width: 100%;
}

html {
    display: block;
}

body {
    align-items: center;
    display: flex;
}

.content {
    position: relative;
    margin: auto;
    max-width: 680px;
    width: 100%;
    padding: 32px;
    display: block;
}

h1 {
    font-size: 32px;
    color: #ebebec;
    text-align: center;
}
    h1 > img {
        vertical-align: baseline;
        margin-right: 8px;
    }

h2 {
    font-size: 48px;
    color: #ebebec;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    margin-top: 48px;
    margin-bottom: 48px;
}
h3 {
    font-weight: bold;
    font-size: 14px;
    margin: 0px;
}

hr {
}

a {
    color: #fa1e4e;
}

button, a.button {
    display: inline-block;
    box-sizing: border-box;
    background-color: #251f33;
    border-style: solid;
    border-width: 1px;
    border-color: #4a3e65;
    padding: 4px 12px;
    color: #ebebec;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 13px;
    width: 140px;
    text-align: center;
}

    button:hover, a.button:hover {
        background-color: #2e273f;
    }

    a.button.coffe {
        border-color: #fa1e4e;
        background-color: rgba(250, 30, 78, 0.9);
    }

        a.button.coffe:hover {
            background-color: #fa1e4e;
        }

#url {
    text-decoration-line: line-through;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
}

table {
    width: 100%;
    border-style: none;
    vertical-align: middle;
    border-collapse: collapse;
}

tr {
    border-style: none;
    border-top: 1px solid #4a3e65;
}

.row, td {
    padding: 8px;
}
    td:first-child {
        text-align: left;
    }
    td:last-child {
        text-align: right;
    }

.justify {
    text-align: justify;
}
